services:
  invidious:
    image: quay.io/invidious/invidious:latest
    # image: quay.io/invidious/invidious:latest-arm64 # ARM64/AArch64 devices
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      # https://github.com/iv-org/invidious/blob/master/config/config.example.yml
      INVIDIOUS_CONFIG: |
        db:
          dbname: invidious
          user: kemal
          password: kemal
          host: invidious-db
          port: 5432
        check_tables: true
        default_locale: "ja-JP"
        locales:
          - "ja-JP"
          - "en-US"
        invidious_companion:
        - private_url: "http://companion:8282/companion"
        invidious_companion_key: "hH9HVAIOisD77jMr"
        domain: youtube.local.example.com
        hmac_key: "9pxfNTelKcJCpcmK"
    healthcheck:
      test: wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/trending || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
    logging:
      options:
        max-size: "10m"
        max-file: "2"
    depends_on:
      - invidious-db

  companion:
    image: quay.io/invidious/invidious-companion:latest
    environment:
       - SERVER_SECRET_KEY=hH9HVAIOisD77jMr 
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "2"
    cap_drop:
      - ALL
    read_only: true
    volumes:
      - companioncache:/var/tmp/youtubei.js:rw
    security_opt:
      - no-new-privileges:true

  invidious-db:
    image: postgres:14-alpine
    restart: unless-stopped
    volumes:
      - postgresdata:/var/lib/postgresql/data
      - ./config/sql:/config/sql
      - ./docker/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
    environment:
      POSTGRES_DB: invidious
      POSTGRES_USER: kemal
      POSTGRES_PASSWORD: kemal
      LANG: ja_JP.UTF-8
      LC_ALL: ja_JP.UTF-8
      POSTGRES_INITDB_ARGS: "--locale=ja_JP.UTF-8 --encoding=UTF8"
      POSTGRES_SHARED_BUFFERS: "64MB"
      POSTGRES_WORK_MEM: "4MB"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]

volumes:
  postgresdata:
  companioncache:
